<p>
The 21-day short-term reproduction assay of
<span style="color:firebrick">[test chemical]</span>
with
<span style="color:firebrick">[common name and scientific name]</span>
was studied under
<span style="color:firebrick">[flow-through, specify if other]</span>
conditions.  Adult fish
<span style="color:firebrick">[enter number of fish and age]</span>
were exposed to
<span style="color:firebrick">[control, solvent control (if applicable), and test chemical nominal/measured concentrations]</span>
of
<span style="color:firebrick">[x<sub>1</sub>, x<sub>2</sub>, x<sub>3</sub>, .... x<sub>n</sub>]</span>
mg a.i./L.  The test system was maintained at
<span style="color:firebrick">[...]</span>
to
<span style="color:firebrick">[...]</span>
&deg;C and a pH of
<span style="color:firebrick">[...]</span>
to
<span style="color:firebrick">[...]</span>
. 
</p>
<p>
<span style="color:firebrick;font-style:italic">[Modify as appropriate.]</span>
Spawning frequency and fecundity in controls, respectively, were every
<span style="color:firebrick">[...]</span>
days and
<span style="color:firebrick">[...]</span>
eggs/female/day/replicate; fertilization success in controls was
<span style="color:firebrick">[...]</span>
%.
<span style="color:firebrick">[Test chemical]</span>
significantly
<span style="color:firebrick">[increased or decreased]</span>
fecundity at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L and
<span style="color:firebrick">[increased or decreased]</span>
fertilization success at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L.  Plasma
<span style="color:firebrick">[vitellogenin, testosterone, and 17&beta;-estradiol, if measured]</span>
, respectively, were significantly
<span style="color:firebrick">[increased or decreased]</span>
in male fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L and were significantly
<span style="color:firebrick">[increased or decreased]</span>
in female fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L.  Effects on gonadal histopathology were observed in male fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L and in female fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L.  Histopathological effects included
<span style="color:firebrick">[provide details of treatment-related effects, i.e., presence of testis-ova in males, increased oocyte atresia in females]</span>
.  A significant
<span style="color:firebrick">[increase or decrease]</span>
in gonado-somatic index (GSI) was observed in male fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L and in female fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L.  Nuptial tubercle score was significantly
<span style="color:firebrick">[increased or decreased]</span>
in
<span style="color:firebrick">[female or males]</span>
at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L.
<span style="color:firebrick">[Test chemical]</span>
exposure was associated with an
<span style="color:firebrick">[increase or decrease]</span>
in
<span style="color:firebrick">[body weight and/or length]</span>
in
<span style="color:firebrick">[male or female]</span>
fish at
<span style="color:firebrick">[list all relevant concentrations]</span>
mg a.i./L.  Other effects on secondary sex characteristics and clinical signs (i.e., behavioral and other sublethal effects) including
<span style="color:firebrick">[discoloration, changes in dorsal nape pad, lethargy, loss of equilibrium]</span>
were observed in
<span style="color:firebrick">[number of fish]</span>
at
<span style="color:firebrick">[each relevant concentration]</span>
mg a.i./L.  Unless otherwise indicated, all effects are reported based on comparison to the negative (clean water) control.
</p>