<p>The Hershberger Assay consists of androgenic and anti-androgenic components.  To screen for potential androgenic activity,
	<span style="color:firebrick">chemical name (% purity,batch/lot #)</span> in
	<span style="color:firebrick">vehicle</span> was administered daily via
	<span style="color:firebrick">oral gavage or subcutaneous (s.c.)</span> to
	<span style="color:firebrick">##</span>-day old, castrated male
	<span style="color:firebrick">strain</span> rats at dose levels of 0 (vehicle),
	<span style="color:firebrick">##</span> or
	<span style="color:firebrick">##</span> mg/kg/day.  An androgenic positive control group consisted of
	<span style="color:firebrick">##</span> castrated rats exposed to
	<span style="color:firebrick">##</span> mg/kg/day testosterone propionate (TP) by s.c. injection.
</p>
<p>To screen for potential anti-androgenic activity
	<span style="color:firebrick">chemical name (% purity,batch/lot #)</span> in
	<span style="color:firebrick">vehicle</span> was administered daily via
	<span style="color:firebrick">oral gavage or subcutaneous (s.c.)</span> to
	<span style="color:firebrick">##</span>-day old, castrated male
	<span style="color:firebrick">strain</span> rats at dose levels of 0 (vehicle),
	<span style="color:firebrick">##,##</span> or
	<span style="color:firebrick">##</span> mg/kg/day in conjunction with a daily dose of reference androgen TP at
	<span style="color:firebrick">##</span> mg/kg/day by s.c. injection.  An anti-androgenic positive control group consisted of
	<span style="color:firebrick">##</span> castrated rats exposed to
	<span style="color:firebrick">##</span> mg/kg/day testosterone propionate (TP) and
	<span style="color:firebrick">##</span> mg/kg/day flutamide (FT).  TP alone was used as the anti-androgenic negative control.
</p>
<p>For both components of the assay, the animals were dosed for 10 consecutive days and necropsied approximately 24 hours after
the final dose administration to determine weights of the five androgen-dependent tissues.</p>